.paginations {

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    left: 60%;
    transform: translateX(-50%);
    z-index: 999;

}

.paginations span {
    margin: 0 10px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

.paginations button {
    margin: 0 5px;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #263043;
    color: white;
    cursor: pointer;
}

.paginations button.active {
    background-color: #007bff;
    color: white;
}

.paginations button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.posts-containers {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 40px;
    margin-top: 90px;

}

.cards {
    background-color: #fff;
    color: #333;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 91%;
    transition: transform 0.3s, box-shadow 0.3s;
}

.title {
    cursor: pointer;

}

.cards:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: bold;
}

p {
    margin: 0;
    font-size: 16px;
    cursor: pointer;
}

.pages {
    margin-top: 40px;
}
